:root {
  /* FONT VARIABLES */
  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #adbdcc;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Anek Telugu", sans-serif;
  --h1-size: 94px;
  --h1-height: 108px;
  --h2-size: 50px;
  --h2-height: 75px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;
  --subtitle-size: 17px;
  --subtitle-height: 26px;
  --p-size: 18px;
  --p-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-height: 18px;
  --button-size: 16px;
  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #00d4ff;
  --primary-accent: #0a2540;
  --primary-button-hover: #6d7a88;
  --bg-white: #fff;
  --bg-light: #f7f9fc;
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  --primary-gradient: linear-gradient(
    101.33deg,
    #08209a 0.76%,
    #6563ff 33.33%,
    #36c5f0 76.92%,
    #83e2ff 96.96%
  );
  /* SPACING VARIABLES */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --standard-width: 1144px;
}

/* GENERAL ELEMENT STYLES AND UTILITY CLASSES */

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  margin: var(--spacing-xl) 0;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h1-size);
  line-height: var(--h1-height);
  margin: 0;
  width: 100%;
  letter-spacing: -1px;
}

/* h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h2-size);
  line-height: var(--h2-height);
  margin: 0;
  width: 100%;
  letter-spacing: -0.25px;
} */

h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}

h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h4-size);
  margin: 0;
  width: 100%;
  letter-spacing: 0.25px;
}

h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h5-size);
  margin: 0;
  width: 100%;
}

h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--purple-1);
  font-weight: 500;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--primary-accent);
}

p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  font-weight: 400;
  margin: var(--spacing-md) 0;
}

.subtitle,
.subtitle2 {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}

.subtitle2 {
  color: var(--blue-1);
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-height);
  color: var(--text-grey);
  letter-spacing: 0.25px;
}

.primary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  color: var(--text-light);
  letter-spacing: 1.25px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-accent);
  padding: var(--spacing-sm) var(--spacing-md);
  transition: all 0.15s ease;
}

.primary-button:hover {
  background-color: var(--primary-button-hover);
  cursor: pointer;
}

.secondary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  color: var(--primary-accent);
  letter-spacing: 1.25px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.15s ease;
}

.secondary-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-icon > img {
  transition: transform 0.25s ease;
}

.with-icon:hover > img {
  transform: translateX(4px);
}

.section-container {
  width: 100%;
  max-width: var(--standard-width);
}

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.two-column > .col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.two-column > .col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon {
  height: 50px;
  margin-bottom: var(--spacing-sm);
}

.card h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-md);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.navbar-button {
  background-color: rgba(250, 250, 250, 0.25);
}

.navbar-button:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

/* HERO SECTION */

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  margin: var(--spacing-md) 0;
}

.button-container button:nth-of-type(2) {
  margin: 0 0 0 var(--spacing-md);
  color: var(--purple-2);
}

.hero p {
  max-width: 480px;
}

.hero .hero-phone-container {
  height: 564px;
  align-items: flex-end;
}

.hero .hero-phone-container .hero-phone {
  height: 628px;
  transform: translate(32px, -32px);
}

/* PARTNERS SECTION */

.partners-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1 fr;
  margin: var(--spacing-xl) 0;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}

.partners-grid img {
  height: 60px;
  place-self: center;
}

/* UNIFIED PLATFORM SECTION */

.unified-platform-section {
  padding: var(--spacing-xl) 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.unified-platform-section h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}

.unified-platform-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0;
}

.unified-platform-section .primary-button:hover {
  background-color: var(--primary-accent);
}

/* GRAPHIC GRID SECTION */

.graphic-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.graphic-grid {
  display: grid;
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dash dash";
  grid-gap: var(--spacing-lg);
  padding: var(--spacing-lg) 0;
}

#credit-card {
  grid-area: card;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#phone {
  grid-area: phone;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

/* INTEGRATIONS SECTION */

.integrations-section {
  color: var(--text-light);
  background-color: var(--primary-accent);
  width: 100%;
  display: flex;
  justify-content: center;
}

.integrations-section .primary-button {
  background-color: var(--blue-1);
  color: var(--primary-accent);
  margin: var(--spacing-lg) 0;
}

.integrations-section .primary-button:hover {
  background-color: var(--bg-white);
}

.integrations-section .secondary-button {
  color: var(--blue-1);
}
.integrations-section .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.integrations-section .card-container .card {
  width: 50%;
}

.integrations-section #api-code,
.integrations-section #terminal-code {
  max-width: 470px;
  border-radius: 20px;
}

.integrations-section #api-code {
  margin: 0 0 var(--spacing-md) 0;
}

/* WHY SWIPE SECTION */

.why-swipe-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.why-swipe-section .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.why-swipe-section .card-container .card {
  width: 25%;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
  box-sizing: border-box;
}

.why-swipe-section .card-container .card .secondary-text {
  color: var(--text-dark);
}

/* GLOBAL SECTION */

.global-section {
  background-color: var(--primary-accent);
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-light);
  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0 0 0;
}

.global-section a {
  color: var(--blue-1);
}
.global-section a:hover {
  color: var(--text-light);
}

.global-section .card-container {
  display: flex;
  margin: calc(var(--spacing-xl) * 2) 0 0 0;
}

.global-section .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.global-section .card-container .card h3 {
  border-left: 2px solid var(--blue-1);
  padding-left: var(--spacing-sm);
  line-height: 28px;
}

#globe {
  max-width: 700px;
  opacity: 0.25;
  position: absolute;
  top: 10%;
}

/* VIRTUAL EVENTS SECTION */

.virtual-events-section {
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 2) 0;
}

.virtual-events-section .col-left {
  height: 446px;
  padding: 0 var(--spacing-xl) 0 0;
}

.virtual-events-section .primary-button {
  background-color: var(--purple-1);
  margin: var(--spacing-md) 0 0 0;
}

.virtual-events-section .primary-button:hover {
  background-color: var(--primary-accent);
}

.swipe-sessions-card {
  width: 540px;
  height: 446px;
  border-radius: 20px;
  box-shadow: var(--standard-box-shadow);
  overflow: hidden;
}

.swipe-sessions-card .card-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swipe-sessions-card .card-top::before {
  content: "";
  background: var(--primary-gradient);
  width: 100%;
  height: 150%;
  position: absolute;
  top: -40%;
  transform: skewY(-5deg);
  z-index: 1;
}

#sessions-logo {
  z-index: 2;
  width: 338px;
}

.virtual-events-section .avatars {
  position: absolute;
  z-index: 3;
  bottom: -70px;
  left: var(--spacing-xl);
  /* width: 140px;
  height: 80px; */
}

.virtual-events-section .avatars img {
  width: 80px;
}

.virtual-events-section .avatars img:nth-of-type(2) {
  position: absolute;
  left: 55px;
}

.virtual-events-section .card-bottom {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: var(--spacing-xl);
}

.virtual-events-section .card-bottom .subtitle {
  margin: var(--spacing-lg) 0 0 0;
}

.virtual-events-section .card-bottom .secondary-text {
  color: var(--text-dark);
  width: 50%;
  font-weight: 700;
}
